# **Python Lists**

**Lists** are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

List in Python are ordered and have a definite count. The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index. Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

**Note**- Lists are a useful tool for preserving a sequence of data and further iterating over it.

# **Creating a List**

Lists in Python can be created by just placing the sequence inside the square brackets[]. Unlike Sets, a list doesn’t need a built-in function for the creation of a list.

In [ ]:
# Creating a List of numbers
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)
 
# Creating a List of strings and accessing
# using index
List = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List[0])
 
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)

List of numbers:
[10, 20, 14]

List Items:
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]

# **Knowing the size of List**

In [ ]:

# Creating a List
List1 = []
print(len(List1))
 
# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

# **Adding Elements to a List**

# **Using append() method**

Elements can be added to the List by using the built-in append() function. Only one element at a time can be added to the list by using the append() method, for the addition of multiple elements with the append() method, loops are used. Tuples can also be added to the list with the use of the append method because tuples are immutable. Unlike Sets, Lists can also be added to the existing list with the use of the append() method.

In [ ]:
# Creating a List
List = []
print("Initial blank List: ")
print(List)
 
# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

In [ ]:
# Adding elements to the List
# using Iterator
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

In [ ]:
# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)
 
# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

# **Using insert() method**

append() method only works for the addition of elements at the end of the List, for the addition of elements at the desired position, insert() method is used. Unlike append() which takes only one argument, the insert() method requires two arguments(position, value).

In [ ]:
# Python program to demonstrate
# Addition of elements in a List
  
# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)
 
# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

# **Using extend() method**

Other than append() and insert() methods, there’s one more method for the Addition of elements, extend(), this method is used to add multiple elements at the same time at the end of the list.

Note – append() and extend() methods can only add elements at the end.

In [ ]:
# Python program to demonstrate
# Addition of elements in a List
 
# Creating a List
List = [1, 2, 3, 4]
print("Initial List: ")
print(List)
 
# Addition of multiple elements
# to the List at the end
# (using Extend Method)
List.extend([8, 'Geeks', 'Always'])
print("\nList after performing Extend Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'Geeks', 'Always']

# **Accessing elements from the List**

In order to access the list items refer to the index number. Use the index operator [ ] to access an item in a list. The index must be an integer. Nested lists are accessed using nested indexing.

In [ ]:
# Python program to demonstrate
# accessing of element from list
# Creating a List with
# the use of multiple values
List = ["Geeks", "For", "Geeks"]
 
# accessing a element from the
# list using index number
print("Accessing a element from the list")
print(List[0])
print(List[2])
 
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]
 
# accessing an element from the
# Multi-Dimensional List using
# index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from the list
Geeks
Geeks
Accessing a element from a Multi-Dimensional list
For
Geeks

# **Negative indexing**

In Python, negative sequence indexes represent positions from the end of the array. Instead of having to compute the offset as in List[len(List)-3], it is enough to just write List[-3]. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second-last item, etc.

In [ ]:
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
 
# accessing an element using
# negative indexing
print("Accessing element using negative indexing")
 
# print the last element of list
print(List[-1])
 
# print the third last element of list
print(List[-3])

Accessing element using negative indexing
Geeks
For

# **Removing Elements from the List**

# **Using remove() method**

Elements can be removed from the List by using the built-in remove() function but an Error arises if the element doesn’t exist in the list. Remove() method only removes one element at a time, to remove a range of elements, the iterator is used. The remove() method removes the specified item.

Note – Remove method in List will only remove the first occurrence of the searched element.

In [ ]:
# Python program to demonstrate
# Removal of elements in a List
 
# Creating a List
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]
print("Initial List: ")
print(List)
 
# Removing elements from List
# using Remove() method
List.remove(5)
List.remove(6)
print("\nList after Removal of two elements: ")
print(List)
# Removing elements from List
# using iterator method
for i in range(1, 5):
    List.remove(i)
print("\nList after Removing a range of elements: ")
print(List)

Initial List:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

List after Removing a range of elements:
[7, 8, 9, 10, 11, 12]

# **Using pop() method**

Pop() function can also be used to remove and return an element from the list, but by default it removes only the last element of the list, to remove an element from a specific position of the List, the index of the element is passed as an argument to the pop() method.

In [ ]:
List = [1,2,3,4,5]
 
# Removing element from the
# Set using the pop() method
List.pop()
print("\nList after popping an element: ")
print(List)
 
# Removing element at a
# specific location from the
# Set using the pop() method
List.pop(2)
print("\nList after popping a specific element: ")
print(List)

List after popping an element:
[1, 2, 3, 4]

List after popping a specific element:
[1, 2, 4]

# **Slicing of a List**

In Python List, there are multiple ways to print the whole List with all the elements, but to print a specific range of elements from the list, we use the Slice operation. Slice operation is performed on Lists with the use of a colon(:). To print elements from beginning to a range use [: Index], to print elements from end-use [:-Index], to print elements from specific Index till the end use [Index:], to print elements within a range, use [Start Index:End Index] and to print the whole List with the use of slicing operation, use [:]. Further, to print the whole List in reverse order, use [::-1].

In [ ]:
# Python program to demonstrate
# Removal of elements in a List
 
# Creating a List
List = ['G', 'E', 'E', 'K', 'S', 'F',
        'O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)
 
# Print elements of a range
# using Slice operation
Sliced_List = List[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_List)
 
# Print elements from a
# pre-defined point to end
Sliced_List = List[5:]
print("\nElements sliced from 5th "
      "element till the end: ")
print(Sliced_List)
# Printing elements from
# beginning till end
Sliced_List = List[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Slicing elements in a range 3-8:
['K', 'S', 'F', 'O', 'R']

Elements sliced from 5th element till the end:
['F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Printing all elements using slice operation:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

# **Negative index List slicing**

In [ ]:

# Creating a List
List = ['G', 'E', 'E', 'K', 'S', 'F',
        'O', 'R', 'G', 'E', 'E', 'K', 'S']
print("Initial List: ")
print(List)
 
# Print elements from beginning
# to a pre-defined point using Slice
Sliced_List = List[:-6]
print("\nElements sliced till 6th element from last: ")
print(Sliced_List)
 
# Print elements of a range
# using negative index List slicing
Sliced_List = List[-6:-1]
print("\nElements sliced from index -6 to -1")
print(Sliced_List)

# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

Elements sliced till 6th element from last:
['G', 'E', 'E', 'K', 'S', 'F', 'O']

Elements sliced from index -6 to -1
['R', 'G', 'E', 'E', 'K']

Printing List in reverse:
['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

# **Find the item in the list**

In [ ]:
prod_nums = ['V475', 'F987', 'Q143', 'R688']
search=input('please enter the product name : ')
if search in prod_nums:
   print('product is in list')
else:
  print('product is not in list')

please enter the product name : V475
product is in list

# **Replace new item in list**

In [ ]:
prod_nums = ['V475', 'F987', 'Q143', 'R688']
old_item=input('Enter the item which you want to change : ')
item_index=prod_nums.index(old_item)
new_item=input('Enter the new item which want to put: ')
prod_nums[item_index]=new_item
print('New Updated list is ')
prod_nums

Enter the item which you want to change : V475
Enter the new item which want to put: V777
New Updated list is

['V777', 'F987', 'Q143', 'R688']

In [ ]:
prod_nums[0]='BVh'
prod_nums

['BVh', 'F987', 'Q143', 'R688']

# **sort method¶**

In [ ]:
my_list = [9, 1, 0, 2, 8, 6, 7, 4, 5, 3]
print('Original order:', my_list)
my_list.sort()
print('Sorted order:', my_list)

Original order: [9, 1, 0, 2, 8, 6, 7, 4, 5, 3]
Sorted order: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Reverse list**

In [ ]:
my_list.reverse()
my_list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
List=[1,2,3,4,5,6,7,8,9]
# Printing elements in reverse
# using Slice operation
Sliced_List = List[::-1]
print("\nPrinting List in reverse: ")
print(Sliced_List)

Printing List in reverse:
[9, 8, 7, 6, 5, 4, 3, 2, 1]

# **find minimum and maximun in list**

In [ ]:
max(List)

9

In [ ]:
min(List)

1

In [ ]:
my_list = [5, 4, 3, 2, 50, 40, 30]
print('The lowest value is', min(my_list))
print('The max value is', max(my_list))

The lowest value is 2
The max value is 50

# **Remove duplicates from list**

In [ ]:
### Append Unique Item into Another List
unique=[]
for num in my_list:
  if num not in unique:
    unique.append(num)
print(unique)

[5, 4, 3, 2, 50, 40, 30]

In [ ]:
unique.sort()
unique

[2, 3, 4, 5, 30, 40, 50]

In [ ]:
### Using List Comprehension
my_list = [5, 4, 3, 2, 50, 40, 30]
uniques=[]
[uniques.append(num) for num in my_list if not num in uniques] 
print(uniques)

[5, 4, 3, 2, 50, 40, 30]

In [ ]:
### OrderedDict.fromkeys()
mylist=[5,10,15,20,3,15,25,20,30,10,100]
from collections import OrderedDict
list(OrderedDict.fromkeys(mylist))

[5, 10, 15, 20, 3, 25, 30, 100]

# **Python - List Comprehension**

In [ ]:
###  Create List of Even Numbers without List Comprehension

even_num=[]
for i in range(21):
  if i%2==0:
    even_num.append(i)
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
####  Create List of Even Numbers with List Comprehension
even_num=[i for i in range(21) if i%2==0]
print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#### List Comprehension with String List
List=['ali','ahmad','salman']
new_list=[var for var in List if 'l' in var]
new_list

['ali', 'salman']

In [ ]:
squares = [x*x for x in range(11)] 
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums=[(x,y) for x in nums1 for y in nums2]
print(nums)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [ ]:
##   List Comprehension with Multiple if Conditions

nums = [x for x in range(21) if x%2==0 if x%5==0] 
print(nums)

[0, 10, 20]

In [ ]:
#####   List Comprehension with if-else Condition


odd_even_list = ["Even" if i%2==0 else "Odd" for i in range(5)]
print(odd_even_list)

odd_even_list = [str(i) + '=Even' if i%2==0 else str(i) + "=Odd" for i in range(5)]
print(odd_even_list)

['Even', 'Odd', 'Even', 'Odd', 'Even']
['0=Even', '1=Odd', '2=Even', '3=Odd', '4=Even']

# **Flatten List using List Comprehension**

In [ ]:
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatList=[num for row in matrix for num in row]
print(flatList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]