# **String**

In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string

# **Creating a String**

Strings in Python can be created using single quotes or double quotes or even triple quotes.

In [ ]:
# Python Program for
# Creation of String
 
# Creating a String
# with single Quotes
String1 = 'Welcome to python'
print("String with the use of Single Quotes: ")
print(String1)

String with the use of Single Quotes:
Welcome to python

# **Accessing characters in Python**

In Python, individual characters of a String can be accessed by using the method of Indexing. Indexing allows negative address references to access characters from the back of the String, e.g. -1 refers to the last character, -2 refers to the second last character, and so on. 

While accessing an index out of the range will cause an IndexError. Only Integers are allowed to be passed as an index, float or other types that will cause a TypeError

In [ ]:
String1[0]

'W'

In [ ]:
String1[-1]

'n'

In [ ]:
for var in String1:
  print(var)

W
e
l
c
o
m
e

t
o

p
y
t
h
o
n

# **String Slicing**

To access a range of characters in the String, the method of slicing is used. Slicing in a String is done by using a Slicing operator (colon).

In [ ]:
String1[3:]

'come to python'

In [ ]:
String1[0:7]

'Welcome'

# **Deleting/Updating from a String**

In Python, Updation or deletion of characters from a String is not allowed. This will cause an error because item assignment or item deletion from a String is not supported. Although deletion of the entire String is possible with the use of a built-in del keyword. This is because Strings are immutable, hence elements of a String cannot be changed once it has been assigned. Only new strings can be reassigned to the same name

In [ ]:
# Python Program to Delete
# entire String
 
# Deleting a String
# with the use of del
del String1

# **Formatting of Strings**

Strings in Python can be formatted with the use of format() method which is a very versatile and powerful tool for formatting Strings. Format method in String contains curly braces {} as placeholders which can hold arguments according to position or keyword to specify the order

In [ ]:
# Python Program for
# Formatting of Strings
 
# Default order
String1 = "{} {} {}".format('Geeks', 'For', 'Life')
print("Print String in default order: ")
print(String1)

 
# Positional Formatting
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)

 
# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Geeks', f='For', l='Life')
print("\nPrint String in order of Keywords: ")
print(String1)

Print String in default order:
Geeks For Life

Print String in Positional order:
For Geeks Life

Print String in order of Keywords:
Life For Geeks

Integers such as Binary, hexadecimal, etc., and floats can be rounded or displayed in the exponent form with the use of format specifiers

In [ ]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)
 
# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)
 
# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

# **String concatenation**

In [ ]:
name='pen  '+'  book'
name

'pen    book'

In [ ]:
str1='this is '
str2='my book'
str3=str1+str2
str3

'this is my book'

# **counting a alphabet in the string**

In [ ]:
x='This is a pen'
count=0
for var in x:
    if var=='i' or var=='I':
        count +=1
print('the alphabet //i// is repeated ',count,' times')

the alphabet //i// is repeated  2  times

In [ ]:
#### Skipping the specific character of strings
for var in x:
  if var=='a':
    continue
  print(var)

T
h
i
s

i
s


p
e
n

# **Testing or searching the string**

In [ ]:
string='I am a student of BZU Multan'
if 'am' in string:
    print(' ''am\\'' is present in the string')
else:
    print('am is not present')

 am\ is present in the string

In [ ]:
print(str1 is str2)
print(str1 is str3)

False
False

In [ ]:
print (str1 is not str2)
print (str1 is not str3)

True
True

# **Example: re.match()**

In [ ]:
import re
string="Simple is better than complex"
pattern="Simple"
if re.match(pattern, string):
    print ("found match")
else:
    print("match not found")

found match

In [ ]:
if pattern in string:
  print("found match")

found match

# **some string testing methods**

In [ ]:
'''Method                                                Description
isalnum()                         Returns true if the string contains only alphabetic letters or digits and is at 
                                   least onecharacter in length. Returns false otherwise.

isalpha()                        Returns true if the string contains only alphabetic letters and is at least one 
                                        character in length. Returns false otherwise.

isdigit()                       Returns true if the string contains only numeric digits and is at  least one 
                                        character in length. Returns false otherwise.

islower()                       Returns true if all of the alphabetic letters in the string are  lowercase, and the 
                                         string contains at least one alphabetic letter. Returns false otherwise.

isspace()                       Returns true if the string contains only whitespace characters and is  at least 
                                          one character in length. Returns false otherwise.(Whitespace characters are 
                                          spaces, newlines (\n), and tabs (\t).

isupper()                       Returns true if all of the alphabetic letters in the string are  uppercase, and the 
                                        string contains at least one alphabetic letter. Returns false otherwise.'''